<br>
<div class="col-sm-6"></div>
<div style="margin-left:25% ;" class="col-offset-sm-3 col-sm-6">
    <div class="box box-warning">
        <div class="row">
        <div class="box-header with-border margin">
            <h3 class="box-title">Fund Transfer</h3>
        </div>
    </div>
        <form style="margin: 20px;" class="" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
           <div class="row">
                <div class="form-group margin">
                    <label>Transaction Type</label>   
                    <select class="form-control" id="TransactionType" name="TransactionType" formControlName="TransactionType">
                      <option value="NA">Select</option>
                      <option value="Credit">Credit</option>
                      <option value="Debit" selected>Debit</option>
                    </select>
                  </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="FromAccountNumber">Transfer From</label>
                    <input id="FromAccountNumber"  name="FromAccountNumber" formControlName="FromAccountNumber" type="text" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('FromAccountNumber')?.valid && transactionForm?.get('FromAccountNumber')?.touched" class="form-control-feedback">
                        Please select source account
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="ToAccountNumber">Beneficiary Account Number</label>
                    <input id="ToAccountNumber" name="ToAccountNumber" formControlName="ToAccountNumber" type="number" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('ToAccountNumber')?.valid && transactionForm?.get('ToAccountNumber')?.touched" class="form-control-feedback">
                        Please enter Beneficiary Account Number
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="ToAccountNumber">Confirm Beneficiary Account Number</label>
                    <input id="ToAccountNumber" name="ToAccountNumber" formControlName="ToAccountNumber" type="number" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('ToAccountNumber')?.valid && transactionForm?.get('ToAccountNumber')?.touched" class="form-control-feedback">
                        Please Confirm Beneficiary Account Number
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="TransactionRemarks">Transaction Remarks</label>
                    <input id="TransactionRemarks" name="TransactionRemarks" formControlName="TransactionRemarks" type="text" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('TransactionRemarks')?.valid && transactionForm?.get('TransactionRemarks')?.touched" class="form-control-feedback">
                        Please enter Transaction Remarks
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="TransactionAmount">Transaction Amount</label>
                    <input id="TransactionAmount" name="TransactionAmount" formControlName="TransactionAmount" type="number" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('TransactionAmount')?.valid && transactionForm?.get('TransactionAmount')?.touched" class="form-control-feedback">
                        Please enter Transaction Amount
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="TransactionStatus">Transaction Status</label>
                    <input id="TransactionStatus" name="TransactionStatus" formControlName="TransactionStatus" type="text" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('TransactionStatus')?.valid && transactionForm?.get('TransactionStatus')?.touched" class="form-control-feedback">
                        Please enter Transaction Status
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <label for="TransactionDate">Transaction Date</label>
                    <input id="TransactionDate" name="TransactionDate" formControlName="TransactionDate" type="date" class="form-control">
                    <span *ngIf="transactionForm && !transactionForm?.get('TransactionDate')?.valid && transactionForm?.get('TransactionDate')?.touched" class="form-control-feedback">
                        Please enter Transaction Date
                    </span>
                </div>
            </div>            
            <div class="row">
                <div class="form-group margin">
                <div class="pull-left">
                    <button type="button" class="btn btn-sm btn-danger" (click)="onReset()">Clear</button>
                </div>
                <div class="pull-right">
                    <button type="submit" [disabled]="!transactionForm.valid" class="btn btn-sm btn-success">Save</button>
                </div>
                </div>
            </div>
            <div class="row hide" *ngIf="isTransactionSucceed">
                <div class="form-group has-feedback">
                    <label>Status</label>
                    <label>Success</label>
                </div>
            </div>    
        </form>
    </div>
</div>
