/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
    font-size: 12px;
  }

  
input.ng-invalid.ng-touched {
  border:1px solid red;
}

.form-control{
  font-size: 12px;
}

.nav-tabs-custom>.nav-tabs>li{
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}

.nav-tabs-custom>.nav-tabs>li.active{
  border-top-color: #3c8dbc;
}

  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}


.nav-tabs-custom>.nav-tabs>li>a {
text-decoration: none !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
  border-top-color: transparent !important;
  border-left-color: #f4f4f4 !important;
  border-right-color: #f4f4f4 !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
  background-color: #fff !important;
  color: #444 !important;
}