<body class="hold-transition login-page" style="margin-left: 15%;">
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-12">
                    <div class="form-group margin">
                        <label>Username</label>
                        <input id="username1" name="username1" class="form-control mr-sm-2" type="text"
                            formControlName='username1' />
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <label class="help-block"
                            *ngIf="loginForm && !loginForm.get('username1')?.valid && loginForm.get('username1')?.touched">Please
                            enter
                            username</label>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="form-group margin">
                        <label>Password</label>
                        <input id="password1" name="password1" placeholder="Password" class="form-control mr-sm-2"
                            type="password" formControlName="password1" />
                        <span
                            *ngIf="loginForm && !loginForm.get('password1')?.valid && loginForm.get('password1')?.touched">Please
                            enter
                            password</span>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <button id="btnLogin" class="btn btn-success my-2 my-sm-0"
                            (click)="onSubmit()">Login</button>
                    </div>
                </div>
                </div>
            </form>

        </div>
    </div>

</body>