<div class="col-sm-6"></div>
<br>
<div style="margin-left:30% ;" class="col-offset-sm-3 col-sm-6">
    <div class="box box-info">
        <div class="row">
            <div class="box-header with-border margin">
                <h3 class="box-title">Customer Information - View</h3>
            </div>
        </div>
        <form style="margin: 20px;" *ngFor="let user of currentUser" class="" [formGroup]="userForm"
            (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>First Name</label>
                    </div>
                    <label>{{ user.FirstName }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Last Name</label>
                    </div>
                    <label>{{ user.LastName }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Gender</label>
                    </div>
                    <label>{{ user.Gender }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Date of Birth</label>
                    </div>
                    <label>{{ user.DateOfBirth }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Email Addresss</label>
                    </div>

                    <label>{{ user.EmailAddress }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Username (for Login)</label>
                    </div>
                    <label>{{ user.UserName }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Password</label>
                    </div>
                    <label>{{ user.Password }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Address</label>
                    </div>
                    <label>{{ user.Address }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>State</label>
                    </div>
                    <label>{{ user.State }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>PinCode</label>
                    </div>
                    <label>{{ user.PinCode }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div style="font-weight: bold;">
                        <label>Nationality</label>
                    </div>
                    <label>{{ user.Nationality }}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group margin">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-primary" (click)="onGoTo()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>